pushover_config.json
faces/*/
static/photos/*
entry_log.json
scanner_control.json
videos/*.mp4
videos/*.MP4
__pycache__/
*.py[cod]
*.log
_upload_tmp.jpg
.DS_Store
auth_config.json
encodings_cache.pkl
